.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 51em;
	height: 66em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 51em;
}
.stl_06 {
	height: 6.6em;
}
.stl_ie .stl_06 {
	height: 66em;
}
@font-face {
	font-family:"NCHVVR+Times New Roman";
	src:url("e48877fc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.835em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_09 {
	letter-spacing: -0.008px;
}
@font-face {
	font-family:"RWKRPE+Times New Roman Italic";
	src:url("38e6b28f-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.835em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0006em;
}

.stl_ie .stl_11 {
	letter-spacing: 0.0081px;
}
.stl_12 {
	letter-spacing: 0em;
}

.stl_ie .stl_12 {
	letter-spacing: 0px;
}
.stl_13 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0142px;
}
.stl_14 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0118px;
}
@font-face {
	font-family:"GLWWOW+Courier New";
	src:url("c740d40a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.835em;
	font-family: "GLWWOW+Courier New", "Times New Roman";
	color: #000000;
}
.stl_16 {
	line-height: 1.132813em;
}
.stl_17 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0173px;
}
.stl_18 {
	font-size: 0.835em;
	font-family: "NCHVVR+Times New Roman";
	color: #0000FF;
}
.stl_19 {
	letter-spacing: 0.0023em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.031px;
}
.stl_20 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0133px;
}
.stl_21 {
	letter-spacing: -0.0073em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0973px;
}
.stl_22 {
	-o-transform: scale(1,0.9607167);
	-webkit-transform: scale(1,0.9607167);
	-moz-transform: scale(1,0.9607167);
	transform: scale(1,0.9607167);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9607167,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"ASEETC+Times New Roman";
	src:url("30f05478-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.88839em;
	font-family: "ASEETC+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_24 {
	letter-spacing: 0.0068em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.0964px;
}
.stl_25 {
	font-size: 0.615973em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_26 {
	letter-spacing: -0.4846em;
}

.stl_ie .stl_26 {
	letter-spacing: -3.9802px;
}
@font-face {
	font-family:"NRDOET+Symbol";
	src:url("cf2233c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.88839em;
	font-family: "NRDOET+Symbol", "Times New Roman";
	color: #000000;
}
.stl_28 {
	line-height: 1.225098em;
}
.stl_29 {
	-o-transform: scale(1,1.048757);
	-webkit-transform: scale(1,1.048757);
	-moz-transform: scale(1,1.048757);
	transform: scale(1,1.048757);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.048757,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"ENAUCK+Times New Roman";
	src:url("40503c88-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.813129em;
	font-family: "ENAUCK+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_31 {
	font-size: 0.813129em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_32 {
	-o-transform: scale(1,0.9779206);
	-webkit-transform: scale(1,0.9779206);
	-moz-transform: scale(1,0.9779206);
	transform: scale(1,0.9779206);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9779206,0,-0);
	-ms-transform-origin: top left;
}
.stl_33 {
	font-size: 0.854063em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_34 {
	letter-spacing: 0.0597em;
}

.stl_ie .stl_34 {
	letter-spacing: 0.8154px;
}
.stl_35 {
	font-size: 0.592852em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_36 {
	letter-spacing: 0.1073em;
}

.stl_ie .stl_36 {
	letter-spacing: 0.8479px;
}
.stl_37 {
	font-size: 0.592852em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_38 {
	font-size: 0.854063em;
	font-family: "NRDOET+Symbol", "Times New Roman";
	color: #000000;
}
.stl_39 {
	letter-spacing: -0.009em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.1229px;
}
.stl_40 {
	font-size: 0.854063em;
	font-family: "ASEETC+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_41 {
	letter-spacing: 0.0751em;
}

.stl_ie .stl_41 {
	letter-spacing: 1.0265px;
}
.stl_42 {
	letter-spacing: 0.1113em;
}

.stl_ie .stl_42 {
	letter-spacing: 0.8795px;
}
.stl_43 {
	letter-spacing: 0.1091em;
}

.stl_ie .stl_43 {
	letter-spacing: 0.8623px;
}
.stl_44 {
	letter-spacing: 0.0631em;
}

.stl_ie .stl_44 {
	letter-spacing: 0.8623px;
}
.stl_45 {
	-o-transform: scale(1,1.562598);
	-webkit-transform: scale(1,1.562598);
	-moz-transform: scale(1,1.562598);
	transform: scale(1,1.562598);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.562598,0,-0);
	-ms-transform-origin: top left;
}
.stl_46 {
	font-size: 0.839948em;
	font-family: "NRDOET+Symbol", "Times New Roman";
	color: #000000;
}
.stl_47 {
	font-size: 0.494043em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_48 {
	letter-spacing: 0.1139em;
}

.stl_ie .stl_48 {
	letter-spacing: 0.9006px;
}
.stl_49 {
	font-size: 0.494043em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_50 {
	-o-transform: scale(1,0.9710908);
	-webkit-transform: scale(1,0.9710908);
	-moz-transform: scale(1,0.9710908);
	transform: scale(1,0.9710908);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9710908,0,-0);
	-ms-transform-origin: top left;
}
.stl_51 {
	font-size: 0.878899em;
	font-family: "ASEETC+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_52 {
	letter-spacing: 0.0372em;
}

.stl_ie .stl_52 {
	letter-spacing: 0.5234px;
}
.stl_53 {
	font-size: 0.609393em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_54 {
	letter-spacing: 0.0308em;
}

.stl_ie .stl_54 {
	letter-spacing: 0.2502px;
}
.stl_55 {
	font-size: 0.609393em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_56 {
	-o-transform: scale(1,0.9544358);
	-webkit-transform: scale(1,0.9544358);
	-moz-transform: scale(1,0.9544358);
	transform: scale(1,0.9544358);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9544358,0,-0);
	-ms-transform-origin: top left;
}
.stl_57 {
	font-size: 0.88059em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_58 {
	letter-spacing: -0.0269em;
}

.stl_ie .stl_58 {
	letter-spacing: -0.3792px;
}
.stl_59 {
	letter-spacing: 0.0764em;
}

.stl_ie .stl_59 {
	letter-spacing: 1.0771px;
}
.stl_60 {
	font-size: 0.88059em;
	font-family: "ASEETC+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_61 {
	letter-spacing: 0.0556em;
}

.stl_ie .stl_61 {
	letter-spacing: 0.7834px;
}
.stl_62 {
	font-size: 0.610759em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_63 {
	letter-spacing: 0.0913em;
}

.stl_ie .stl_63 {
	letter-spacing: 0.7435px;
}
.stl_64 {
	font-size: 0.610759em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_65 {
	font-size: 0.88059em;
	font-family: "NRDOET+Symbol", "Times New Roman";
	color: #000000;
}
.stl_66 {
	letter-spacing: 0.0124em;
}

.stl_ie .stl_66 {
	letter-spacing: 0.1746px;
}
.stl_67 {
	letter-spacing: 0.1036em;
}

.stl_ie .stl_67 {
	letter-spacing: 1.4602px;
}
.stl_68 {
	font-size: 0.88059em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_69 {
	letter-spacing: 0.0814em;
}

.stl_ie .stl_69 {
	letter-spacing: 1.1469px;
}
.stl_70 {
	letter-spacing: 0.0324em;
}

.stl_ie .stl_70 {
	letter-spacing: 0.264px;
}
.stl_71 {
	letter-spacing: 0.0126em;
}

.stl_ie .stl_71 {
	letter-spacing: 0.1776px;
}
.stl_72 {
	letter-spacing: -0.4515em;
}

.stl_ie .stl_72 {
	letter-spacing: -3.6769px;
}
.stl_73 {
	letter-spacing: -0.0765em;
}

.stl_ie .stl_73 {
	letter-spacing: -0.6229px;
}
.stl_74 {
	letter-spacing: -0.028em;
}

.stl_ie .stl_74 {
	letter-spacing: -0.228px;
}
.stl_75 {
	letter-spacing: 0.1406em;
}

.stl_ie .stl_75 {
	letter-spacing: 1.9814px;
}
.stl_76 {
	letter-spacing: 0.0213em;
}

.stl_ie .stl_76 {
	letter-spacing: 0.3005px;
}
.stl_77 {
	letter-spacing: 0.0325em;
}

.stl_ie .stl_77 {
	letter-spacing: 0.265px;
}
.stl_78 {
	letter-spacing: 0.0148em;
}

.stl_ie .stl_78 {
	letter-spacing: 0.2091px;
}
.stl_79 {
	letter-spacing: -0.4555em;
}

.stl_ie .stl_79 {
	letter-spacing: -3.7094px;
}
.stl_80 {
	letter-spacing: -0.0725em;
}

.stl_ie .stl_80 {
	letter-spacing: -0.5903px;
}
.stl_81 {
	letter-spacing: -0.03em;
}

.stl_ie .stl_81 {
	letter-spacing: -0.2439px;
}
.stl_82 {
	letter-spacing: 0.0341em;
}

.stl_ie .stl_82 {
	letter-spacing: 0.4801px;
}
.stl_83 {
	letter-spacing: 0.0333em;
}

.stl_ie .stl_83 {
	letter-spacing: 0.2708px;
}
.stl_84 {
	letter-spacing: 0.015em;
}

.stl_ie .stl_84 {
	letter-spacing: 0.2115px;
}
.stl_85 {
	letter-spacing: -0.4004em;
}

.stl_ie .stl_85 {
	letter-spacing: -3.2603px;
}
.stl_86 {
	letter-spacing: -0.1345em;
}

.stl_ie .stl_86 {
	letter-spacing: -1.0952px;
}
.stl_87 {
	letter-spacing: -0.0317em;
}

.stl_ie .stl_87 {
	letter-spacing: -0.2583px;
}
.stl_88 {
	letter-spacing: 0.0311em;
}

.stl_ie .stl_88 {
	letter-spacing: 0.4388px;
}
.stl_89 {
	letter-spacing: 0.0935em;
}

.stl_ie .stl_89 {
	letter-spacing: 0.7611px;
}
.stl_90 {
	letter-spacing: 0.0211em;
}

.stl_ie .stl_90 {
	letter-spacing: 0.297px;
}
.stl_91 {
	letter-spacing: 0.0347em;
}

.stl_ie .stl_91 {
	letter-spacing: 0.2826px;
}
.stl_92 {
	letter-spacing: 0.0153em;
}

.stl_ie .stl_92 {
	letter-spacing: 0.216px;
}
.stl_93 {
	letter-spacing: -0.4585em;
}

.stl_ie .stl_93 {
	letter-spacing: -3.7338px;
}
.stl_94 {
	letter-spacing: -0.0695em;
}

.stl_ie .stl_94 {
	letter-spacing: -0.5659px;
}
.stl_95 {
	letter-spacing: -0.0165em;
}

.stl_ie .stl_95 {
	letter-spacing: -0.1342px;
}
.stl_96 {
	font-size: 0.610759em;
	font-family: "NRDOET+Symbol", "Times New Roman";
	color: #000000;
}
.stl_97 {
	letter-spacing: 0.0013em;
}

.stl_ie .stl_97 {
	letter-spacing: 0.0102px;
}
.stl_98 {
	letter-spacing: -0.0322em;
}

.stl_ie .stl_98 {
	letter-spacing: -0.262px;
}
.stl_99 {
	letter-spacing: 0.1358em;
}

.stl_ie .stl_99 {
	letter-spacing: 1.9128px;
}
.stl_100 {
	letter-spacing: 0.1409em;
}

.stl_ie .stl_100 {
	letter-spacing: 1.9848px;
}
.stl_101 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_101 {
	letter-spacing: -0.0532px;
}
.stl_102 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_102 {
	letter-spacing: -0.0532px;
}
.stl_103 {
	-o-transform: scale(1,0.9728985);
	-webkit-transform: scale(1,0.9728985);
	-moz-transform: scale(1,0.9728985);
	transform: scale(1,0.9728985);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9728985,0,-0);
	-ms-transform-origin: top left;
}
.stl_104 {
	font-size: 0.861354em;
	font-family: "ASEETC+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_105 {
	letter-spacing: 0.0233em;
}

.stl_ie .stl_105 {
	letter-spacing: 0.3214px;
}
.stl_106 {
	font-size: 0.597418em;
	font-family: "NCHVVR+Times New Roman";
	color: #000000;
}
.stl_107 {
	letter-spacing: -0.4484em;
}

.stl_ie .stl_107 {
	letter-spacing: -3.5719px;
}
.stl_108 {
	font-size: 0.597418em;
	font-family: "RWKRPE+Times New Roman Italic";
	color: #000000;
}
.stl_109 {
	letter-spacing: -0.0676em;
}

.stl_ie .stl_109 {
	letter-spacing: -0.5384px;
}
.stl_110 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_110 {
	letter-spacing: -0.0218px;
}
.stl_111 {
	font-size: 0.597418em;
	font-family: "NRDOET+Symbol", "Times New Roman";
	color: #000000;
}
.stl_112 {
	letter-spacing: 0.0133em;
}

.stl_ie .stl_112 {
	letter-spacing: 0.1057px;
}
.stl_113 {
	letter-spacing: -0.0219em;
}

.stl_ie .stl_113 {
	letter-spacing: -0.1743px;
}
.stl_114 {
	letter-spacing: 0.003em;
}

.stl_ie .stl_114 {
	letter-spacing: 0.04px;
}
.stl_115 {
	font-size: 0.665em;
	font-family: "GLWWOW+Courier New", "Times New Roman";
	color: #000000;
}
.stl_116 {
	letter-spacing: 0.0014em;
}

.stl_ie .stl_116 {
	letter-spacing: 0.0149px;
}
@font-face {
	font-family:"DVGHRQ+Arial Bold";
	src:url("11d8b306-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_117 {
	font-size: 0.916667em;
	font-family: "DVGHRQ+Arial Bold";
	color: #000000;
}
.stl_118 {
	line-height: 1.117188em;
}
@font-face {
	font-family:"RCWRWC+Arial";
	src:url("c5abb95a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_119 {
	font-size: 0.666667em;
	font-family: "RCWRWC+Arial";
	color: #000000;
}
.stl_120 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_120 {
	letter-spacing: -0.0009px;
}
@font-face {
	font-family:"TWDMDA+Arial Italic";
	src:url("8ccfedba-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_121 {
	font-size: 0.666667em;
	font-family: "TWDMDA+Arial Italic", "Times New Roman";
	color: #000000;
}
.stl_122 {
	font-size: 0.666667em;
	font-family: "DVGHRQ+Arial Bold";
	color: #000000;
}
.stl_123 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_123 {
	letter-spacing: 0.0006px;
}
.stl_124 {
	font-size: 0.666667em;
	font-family: "RCWRWC+Arial";
	color: #0645AD;
}
